# ========= プロジェクト設定 =========
PROJECT_NAME=Inthub
ENVIRONMENT=development

# ========= Microsoft Entra ID =========
AZURE_TENANT_ID=your-azure-tenant-id
AZURE_TENANT_NAME=your-azure-tenant-name
AZURE_CLIENT_ID=your-azure-client-id
AZURE_OBJECT_ID=your-azure-object-id
AZURE_CLIENT_SECRET=your-azure-client-secret
AZURE_ISSUER=your-tenant_name.onmicrosoft.com
AZURE_B2C_SIGNUP_POLICY_NAME=your-b2c-signup-policy
AZURE_B2C_SIGNIN_POLICY_NAME=your-b2c-signin-policy
AZURE_B2C_EXTENSION_ID=your-b2c-extension-id
B2C_BASIC_USER=your-b2c-basic-user
B2C_BASIC_PW=your-b2c-basic-password

# ========= Azure PostgreSQL =========
POSTGRES_USER=Inthub
POSTGRES_HOST=your-postgres-host.postgres.database.azure.com
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_PW=your-postgres-password
MASTER_DB_URL=postgresql://Inthub:your-password@your-master-db.postgres.database.azure.com/postgres?sslmode=require

# ========= Azure Blob Storage =========
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=your-storage-account;AccountKey=your-storage-key;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_NAME=your-container-name
AZURE_STORAGE_ACCOUNT_NAME=your-storage-account-name
AZURE_STORAGE_ACCOUNT_KEY=your-storage-account-key

# ========= Azure OpenAI =========
AZURE_OPENAI_API_KEY=your-openai-api-key
AZURE_OPENAI_API_ENDPOINT=https://your-openai-resource.openai.azure.com/
AZURE_OPENAI_API_VERSION=gpt-4o-mini
AZURE_OPENAI_API_DEPLOYMENT_NAME=gpt-4o-mini


# ========= Azure AI Search =========
AZURE_SEARCH_SERVICE_ENDPOINT=https://your-search-service.search.windows.net
AZURE_SEARCH_ADMIN_KEY=your-search-admin-key
AZURE_SEARCH_INDEX_NAME=your-search-index-name
AZURE_SEARCH_DEPLOYMENT_NAME=your-search-deployment-name

# ========= Azure Key Vault ==========
AZURE_KEY_VAULT_NAME=your-key-vault-name

# ========= Slack =========
SLACK_CLIENT_ID=your-slack-client-id
SLACK_CLIENT_SECRET=your-slack-client-secret
SLACK_REDIRECT_URI=https://your-domain.com/api/v1/slack/install
SLACK_BOT_TOKEN=xoxb-your-slack-bot-token
SLACK_SIGNING_SECRET=your-slack-signing-secret

# ========== Environment ==========
ENVIRONMENT = "production"
